.content-list {
    display: flex;    
}

footer {
    padding: 2.8rem 4rem 3.2rem 131px;
}

.list ul {
    padding: 0;
    list-style: none;
    margin-left: 0px !important;
    list-style: none;
    line-height: 50px;
}

.list li {
    color: gray;
}

footer .hr {
    border: none;
    margin: 0;
    padding: 3.2rem 0;
}

.icons {
    font-size: 2.5em;
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.sb-footer-copyright {
    color: rgba(0,0,0,.56);
    padding: 1.6rem 0;
}